<!-- Start quote Area -->
<section class="quote-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 quote-left">
                <h2 class="text-right">
                    <span>Music</span> gives soul to the universe,<br>
                    wings to the <span>mind</span>, flight<br>
                    to the <span>imagination</span>.
                </h2>
            </div>
            <div class="col-lg-6 col-sm-12 quote-right">
                <p class="text-left">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End quote Area -->